<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <link rel="alternate" type="application/atom+xml" title="Atom" href="http://barnoid.org.uk/articles.atom" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://barnoid.org.uk/articles.rss" />
  <%= stylesheet_link_tag '/stylesheets/theme/application.css', :media => 'all' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_default.css', :media => 'all', :title => 'Default' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_lunar.css', :media => 'all', :rel => 'alternate stylesheet', :title => 'Lunar Landscape 6' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_green.css', :media => 'all', :rel => 'alternate stylesheet', :title => 'Greens' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_oldskool.css', :media => 'all', :rel => 'alternate stylesheet', :title => 'Old Skool' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_wasp.css', :media => 'all', :rel => 'alternate stylesheet', :title => 'Wasp' %>
  <%= stylesheet_link_tag '/stylesheets/theme/col_hotpink.css', :media => 'all', :rel => 'alternate stylesheet', :title => 'Hot Pink!' %>
  <%= javascript_include_tag '/javascripts/theme/swapstyle.js' %>
</head>

<body>
<div id="container">
  <div id="page">

    <div id="content">
      <%= @content_for_layout %>
      <%= javascript_tag 'show_dates_as_local_time()' %>
    </div>

    <div id="sidebar">
      <!-- sidebar components -->
      <%= render_sidebars %>
    </div>

    <br style="clear:both;" />
  </div>

  <div id="footer">
    <hr />
    <p><%= link_to this_blog.blog_name, this_blog.base_url %></p>
    <ul>
      <li>
        <%= _("Powered by %s", link_to('typo', 'http://typosphere.org')) %> /
        <%= _("styled by %s", link_to('barnoid', 'http://barnoid.org.uk'))%>
      </li>
    </ul>
  </div>
</div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://subli.me.uk/piwik/" : "http://subli.me.uk/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://subli.me.uk/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->

</body>
</html>
